button{
    width: 70px;
    background: #06CF;
    color: white;
    border: none;
    padding: 4px;
    margin: 10px ;
    border-radius: 5px;
}

button:hover{
    background: rgba(0, 102, 204, 0.658);
}